PORT=4000
MONGO_URI=mongodb+srv://takeshwarverma124:projectUniverse@cluster0.vsukzc7.mongodb.net
CORS_ORIGIN=*  # now for accepte all origin request

ACCESS_TOKEN_SECRET=:ecommerce123@cluster0.mspiesh.
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=ma124:ecomsrv://take
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=do3fiil0d
CLOUDINARY_API_KEY=279377118955315
CLOUDINARY_API_SECRET=2VuDh5pMfBlxqunre38Qj_KxrNY